.logofull {
  height: 175px;
}
.header {
  background-color: #ecebeb;
  text-align: center;
  align-items: center;
}
.OSU {
  margin-top: 10px;
  color: #bb0000;
  font-family: "Passion One";
  font-size: 65px;
  margin-bottom: 10px;
}
h3 {
  color: white;
  font-family: "Passion One";
  margin-bottom: 0px;
  background-color: #bb0000;
  text-indent: 5px;
}
